<h1>Map#home</h1>
<p>Find me in app/views/map/home.html.erb</p>

<%= link_to(:merchants, merchants_url)%>

<%=link_to(:partners, partners_url)%>
<%=link_to('logout', destroy_user_session_url, method: :delete)%>