
<div class="main">
<%if user_signed_in?%>
<%#link_to('logout', destroy_user_session_url, method: :delete, remote: true)%>
<%= javascript_pack_tag 'Index' %>
<% else %>
<div class="vw-100 vh-100 primary-color d-flex align-items-center justify-content-center">
    <div class="jumbotron jumbotron-fluid bg-transparent">
        <div class="container secondary-color">
            <h1 class="display-4">Clients map</h1>
            <p class="lead">A map of clients (merchants and partners) of InComm.</p>
            <%=link_to(:sign_in, new_user_session_path, class: "btn btn-lg custom-button")%>
            <%=link_to(:sign_up, new_user_registration_path, class: "btn btn-lg custom-button")%>
        </div>
    </div>
</div>
<% end %>
    </div>
  </div>
</div>
